/test/nbproject/private/
/test/build/
.DS_Store
/IntroJava/nbproject/private/
/IntroJava/build/
/CalculadoraJSP/nbproject/private/
/CalculadoraJSP/build/
/CalculadoraJSP/dist/
/CalculadoraIMC/nbproject/private/
/CalculadoraIMC/build/
/CalculadoraBhaskara/nbproject/private/
/CalculadoraBhaskara/build/
/UniWeather/nbproject/private/
/UniWeather/build/
/UniWeather/dist/
